.appBar {
  height: 50px;
}
.brand_wrapper {
  display: flex;
  align-items: center;
}
.brand_name {
  font-weight: 700 !important;
  color: var(--color-white);
}
.profile_wrapper{
  display: flex;
  margin-left: auto;
}
.profile_name_wrapper{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile_first_name{
  margin: 0px;
  padding-bottom: 3px;
  font-size: 13px;
  color: white;
  text-align: right;
  font-weight: 500;
}
.profile_last_name{
  margin: 0px;
  font-size: 12px;
  color: white;
  text-align: right;
}