.wrapper {
  background-color: var(--primary-color);
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.brand_wrapper {
  display: flex;
  align-items: center;
}
.brand_name {
  color: var(--color-white);
}
