.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
}
.wrapper{
    margin: auto;
    display: inline-block;
}
.actions_wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}