.wrapper {
  height: 100vh;
}

.content_wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: var(--light-white);
}
