button {
    padding: 6px 10px;
    border: 0px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }
  button.success {
    background-color: rgb(21, 167, 21);
    color: white;
  }