:root {
  --color-malibu: #0066ff;
  --color-blue-ribbon: #0066ff;
  --color-denim: #175abf;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-mine-shaft: #3d3d3d;
  --color-alto: #DEDEDE;
  --color-wild-sand: #f4f4f4;
  --color-silver: #c2c2c2;
}
