:root {
    /* colors */
    --color-blue: #4793eb;
    --color-blue-dark: #2873d6;
    --color-blue-light: #81b6f1;
    --color-white: #ffffff;
    --color-dark-shade-white: #e8e8e8;
    --color-black: #000000;
    --color-dark: #161616;
  
    /* palette */
    --primary-color: var(--color-blue);
    --primary-color-dark: var(--color-blue-dark);
    --primary-color-light: var(--color-blue-light);
  
    /* space */
    --space-unit: 1em;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
  }