@import url('./css/colors.css');
@import url('./css/variables.css');

@import url('./css/box_shadow.css');
@import url('./css/space.css');
@import url('./css/button.css');
@import url('./css/input.css');
@import url('./css/typography.css');
@import url('./css/material_icon.css');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
